/*PC*/
@media (min-width: 64em) {
}
/*TABLET*/
@media (min-width: 46.25em) and (max-width: 63.937em) {
}
/*TABLET && MOBILE*/
@media (max-width: 63.937em) {
  .btn {
    padding: 15px 16px;
  }
  .contact-submit-btn {
    font-size: 17px;
  }
  .contact-form .form-control {
    padding: 15px;
    font-size: 16px;
  }
  .social-list {
    font-size: 48px;
  }
  .social-list a {
    margin: 9px 16px;
  }
  .copyright a {
    padding: 12px 0px;
    display: inline-block;
  }
  .contact-info {
    line-height: 2;
  }
}
/*MOBILE*/
@media (max-width: 46.1875em) {
  .s-mt-8 {
    margin-top: 8px !important;
  }
  .s-col-full,
  .s-full-width {
    width: 100% !important;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav .subnav {
    position: initial;
    background: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 0 41px;
  }
  #header {
    overflow: hidden;
  }
  #header .search-button {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #content .member-list .member-item {
    margin-top: 30px;
    width: 100%;
  }
  #content .member-list img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}
